@{
    ViewData["Title"] = "Curriculum Vitae";
}

<!-- LHS Title Start -->
<div style="padding-top:100px;">
    <section class="fdb-block" data-block-type="features" data-id="4" draggable="true">
        <div class="container" id="gotoTop">
            <div class="row align-items-top">
                <div class="col-12 col-md-6 col-xl-4 m-auto">
                    <h1 title="This is me..">Michael Walsh</h1>
                    <h2>Dublin 7</h2>
                    <h2>Ireland</h2>
                    <div class="col-12 mt-5" style="font-family: Yu Gothic UI Light; text-align: center;" id="message">**FYI** JavaScript has been disbled. This site is best viewed with JavaScript enabled.</div>
                </div>
                <!-- LHS Title End -->
                <!-- CV Icon Shortcuts Start -->
                <div class="col-12 col-md-6 pt-5 pt-md-0">
                    <div class="row justify-content-left">
                        <div class="col-3 m-auto text-center">
                            <a class="sliding-link" href="#contact"><i class="fas fa-info fa-3x" title="This is how you get in touch.."></i></a>
                            <p><a class="sliding-link" href="#contact">Contact</a></p>
                        </div>
                        <div class="col-3 m-auto text-center">
                            <a class="sliding-link" href="#education"><i class="fas fa-graduation-cap fa-3x" title="This is where I was educated.."></i></a>
                            <p><a class="sliding-link" href="#education">Education</a></p>
                        </div>
                        <div class="col-3 m-auto text-center">
                            <a class="sliding-link" href="#w_experience"><i class="far fa-building fa-3x" title="This is where I have worked.."></i></a>
                            <p><a class="sliding-link" href="#w_experience">Work Experience</a></p>
                        </div>
                    </div>

                    <div class="row justify-content-left mt-4 mt-xl-5">
                        <div class="col-3 m-auto text-center">
                            <a class="sliding-link" href="#w_experience"><i class="fas fa-golf-ball fa-3x" title="This is how I spend my free time.."></i></a>
                            <p><a class="sliding-link" href="#hobbies">Hobbies and Interests</a></p>
                        </div>
                        <div class="col-3 m-auto text-center">
                            <a class="sliding-link" href="#referees"><i class="fas fa-user-check fa-3x" title="These are people who can vouch for me.."></i></a>
                            <p><a class="sliding-link" href="#referees">References</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div><!-- CV Icon Shortcuts Finish -->

<!-- CV Main Body Start -->
    <section style="padding-top:300px;" class="fdb-block fp-active" data-block-type="features" data-id="1" draggable="true">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 id="contact">Contact</h1>
                </div>
            </div>

            <div class="row text-left justify-content-center pt-5">
                <div class="col-12 col-md-6 col-lg-5 m-auto">
                    <h3><strong>Email</strong></h3>
                    <p class="text-h3">If you would like to get in contact via Email.</p>
                    <a href="mailto:%20michaelrwalsh@yahoo.ie?Subject=I%20visited%20your%20website%20and%20liked%20it"><i class="fas fa-envelope-square fa-2x" title="Email me here.."></i></a>
                </div>

                <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-md-0">
                    <h3><strong>Message</strong></h3>
                    <p class="text-h3">If you would like to send a message..</p>
                    <a asp-area="" asp-controller="Home" asp-action="Contact"> <i class="far fa-comment-dots fa-2x" title="Send me a message via this site.."></></i></a>
                </div>
            </div>


            <div class="row text-left justify-content-center pt-lg-4">
                <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-lg-0">
                    <h3><strong>Phone</strong></h3>

                    <p class="text-h3">Sorry but my phone number is private. 
                    Please email/message me and I will call you back as soon as I possibly can.</p>
                    <a> <i class="fas fa-phone fa-2x" title="Oops..."></></i></a>
                </div>
                <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-lg-0">
                    <h3><strong>Social Media</strong></h3>

                    <p class="text-h3">You can get in contact via LinkedIn.</p>
                    <div style="display:table-cell; vertical-align:middle; text-align:center"><a href="https://www.linkedin.com/in/michael-walsh-8775459/" ><i class="fab fa-linkedin fa-2x" title="This is my LinkedIn profile.."></i></a></div>
                </div>
            </div>
        </div>
        <div class="text-center center-block">
            <a title="Up" class="sliding-link footer-chevron" href="#gotoTop"><i class="fas fa-angle-up fa-3x" title="Back to top.."></i></a>
        </div>
    </section>


    <section class="fdb-block" data-block-type="features" data-id="2" draggable="true">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 id="education">Education</h1>
                </div>
            </div>
            <div class="row text-left justify-content-center pt-5">
                <div class="col-12 col-md-4 col-lg-5 m-auto">
                    <h3><strong>H.Diploma in Science in Computing (Software Development)</strong></h3>
                    <a href = "https://www.dbs.ie"><h3>Dublin Business School</h3></a>
                    <h4>2017</h4>
                    <p class="text-h3">Grade: 1st Class Honours</p>
                </div>
                <div class="col-12 col-md-4 col-lg-5 m-auto pt-3 pt-md-0">
                    <h3><strong>M.Sc in Technology Management</strong></h3>
                    <h3>University of Limerick<a href="https://www.aua.ie"> www.aua.ie</a></h3>
                    <h4>2007</h4>
                    <p class="text-h3">Grade: 2:1</p>
                </div>
            </div>
            <div class="row text-left justify-content-center pt-lg-4">
                <div class="col-12 col-md-4 col-lg-5 m-auto pt-3 pt-lg-0">
                    <h3><strong>BSc in Applied Physics with Electronics</strong></h3>
                    <a href= "https://www.hull.ac.uk"><h3>The University of Hull</h3></a>
                    <h4>Idwal Jones Prize in Experimental Physics.</h4>
                    <p class="text-h3">Grade: 2:1</p>
                </div>
                <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-lg-0">
                    <h3><strong></strong></h3>
                    <p class="text-h3"> </p>
                </div>
            </div>
        </div>
        <div class="text-center center-block">
            <a title="Up" class="sliding-link footer-chevron" href="#gotoTop"><i class="fas fa-angle-up fa-3x"></i></a>
        </div>
    </section>
    <section class="fdb-block" data-block-type="features" data-id="3" draggable="true">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 id="w_experience">Work Experience</h1>
                </div>
            </div>
            <div class="row text-left justify-content-center pt-5">
                <div class="col-12 col-md-6 col-lg-5 m-auto">
                    <h3><strong>Software Developer - Syncreon Ireland</strong></h3>
                    <h4><strong>April 2018 to Present</strong></h4>
                    <p class="text-h3">Software Developer - Progress OpenEdge ABL, JSON, XML .</p>
                    <p class="text-h3">Front End Developer HTML5, CSS3 , JavaScript and AngualarJS</p>

                </div>
                <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-md-0">
                    <h3><strong>Software Developer - <a href="https://childdiary.net/">ChildDiary</a></strong></h3>
                    <h4><strong>April 2017 to August 2017</strong></h4>
                    <p class="text-h3">Front End Developer HTML5, CSS3 , JavaScript and AngualarJS</p>
                    <p class="text-h3">ChildDiary WebApp Support and Upgrades. </p>
                </div>
            </div>
            <div class="row text-left justify-content-center pt-lg-4">
                <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-lg-0">
                    <h3><strong>Senior Lithography Process Engineer - Intel Ireland</strong></h3>
                    <h4><strong>May 2002 to June 2014</strong></h4>
                    <p class="text-h3">Lithography Process Engineer</p>
                    <p class="text-h3">Project Manager</p>
                    <p class="text-h3">Facilitator- Advanced Problem Solving Techniques</p>
                </div>
                <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-lg-0">
                    <h3><strong></strong></h3>
                    <p class="text-h3"></p>
                </div>
            </div>
        </div>
        <div class="text-center center-block">
            <a title="Up" class="sliding-link footer-chevron" href="#gotoTop"><i class="fas fa-angle-up fa-3x"></i></a>
        </div>
    </section>

    <section class="fdb-block fp-active" data-block-type="features" data-id="1" draggable="true">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 id="hobbies">Hobbies</h1>
                </div>
            </div>

            <div class="row text-left justify-content-center pt-5">
                <div class="col-12 col-md-6 col-lg-5 m-auto">
                    <h3><strong>Hobbies</strong></h3>
                    <p class="text-h3">Golf - A bad bad bad golfer but I keep trying.</p>
                    <p class="text-h3">Music - Food for the soul.</p>
                    <p class="text-h3">Photography - Digital SLR novice.</p>
                    <p class="text-h3">Travel - Anywhere really but mostly hot places.</p>

                </div>
            </div>
        </div>
    </section>

    <section class="fdb-block fp-active" data-block-type="features" data-id="1" draggable="true">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 id="referees">References</h1>
                </div>
            </div>

            <div class="row text-left justify-content-center pt-5">
                <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-md-0">
                    <h3><strong>References</strong></h3>
                    <p class="text-h3">Available on request.</p>

                </div>
            </div>
        </div>
    </section>
<!-- CV Main Body Start -->    