@{
    ViewData["Title"] = "Examples";
   
}


    <!-- Content -->
    <div class="container fluid">
        <div class="text-center blockSamples">
          <p>A small selection of my C#.Net and Front End Development Projects &amp; Code</p>
          <div class="col-12 mt-5" style="font-family: Yu Gothic UI Light; text-align: center;" id="message">**FYI** JavaScript has been disbled. This site is best viewed with JavaScript enabled.</div>
        </div>

        <!--Carousel-->
        <div class="c-wrapper">
            <div id="carousel-samples" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->

                <ol class="carousel-indicators">
                    <li data-target="#carousel-samples" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-samples" data-slide-to="1"></li>
                    <li data-target="#carousel-samples" data-slide-to="2"></li>
                    <li data-target="#carousel-samples" data-slide-to="3"></li>
                    <li data-target="#carousel-samples" data-slide-to="4"></li>
                    <li data-target="#carousel-samples" data-slide-to="5"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid img-rounded" src="~/images/qEQiH.png" src="/" alt="Ocean View B&B Project Index Page">
                        <div class="carousel-caption">
                            <h3><a href="#OceanView" id="button1">More Info</a></h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid img-rounded" src="~/images/QhWCz.png" alt="Ocean View B&B Project House Page">
                        <div class="carousel-caption">
                            <h3><a href="#OceanView" id="button2">More Info</a></h3>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img class="d-block img-fluid img-rounded" src="~/images/Tx0hA.png" alt="ChildDiary Reactivation Page">
                        <div class="carousel-caption">
                            <h3><a href="#ChildDiary" id="button3">More Info</a></h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid img-rounded" src="~/images/woiub.png" alt=".Net 3 Tier Project">
                        <div class="carousel-caption">
                            <h3><a href="#dotNet3Tier" id="button4">More Info</a></h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid img-rounded" src="~/images/Curric.png" alt="ChildDiary Curriculum Report">
                        <div class="carousel-caption">
                            <h3><a href="#ChildDiaryCurriculumReport" id="button5">More Info</a></h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid img-rounded" src="~/images/Angular_Trend.PNG" alt="Angular Dashboard">
                        <div class="carousel-caption">
                            <h3><a href="#AngularWebApp" id="button6">More Info</a></h3>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#carousel-samples" data-slide="prev">
                    <i class="fa fa-chevron-left fa-2x"></i>
                </a>
                <a class="carousel-control-next" href="#carousel-samples" data-slide="next">
                    <i class="fa fa-chevron-right fa-2x"></i>
                </a>
            </div>
        </div>

        <!--cards-->
        <div class="container" style="margin-top: 40px;">
            <div class="row">

                <!--Card and Modal -->
                <div class="col-sm-6" style="margin-bottom: 40px;">
                    <div class="card h-100">
                        <div class="card-body">
                            <img class="card-img-top img-fluid img-rounded" id="AngularWebApp" src="~/images/Angular_Trend.PNG" alt="Angular Web App Trend View">
                            <h2 class="card-title" style="margin-top: 5px;"> </h2>
                            <h2 class="card-title">Angular DashBoard(PoC) July 2018 </h2>
                            <p>Languages/Frameworks: HTML5, CSS3, Javascript, Angular JS, ChartsJS and JSON</p>
                            <p>Brief: To develop a Proof of Concept (PoC) dashboard design for Company X Operations.
                             The dashboard was designed as mobile first, Single Page App (SPA) where it could be used on a tablet/PC but also work on a Dashboard Montior. It can be configured for a single view or can toggle through a number of views using a timer. 
                             It shows various prodcution performance indicators which update in real-time.
                             3 views were included in the demo Daily Thru-put, Weekly Pace and Live station Level. </p>
                            <a href="#Angular_v1" title="**This repository is Private**" class="btn btn-link" data-toggle="modal" data-target="#myModal3">Code here</a>
                        </div>
                    </div>
                </div>
                <!--Modal -->
                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Unfortunately this repository is Private… This is a screen shot of a  WorkStation Level View that used ChartJS, ng-gauge. </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="~/images/Angular_gauge.PNG" style="height: 258px;" class="rounded">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Card and Modal -->
                <div class="col-sm-6" style="margin-bottom: 40px;">
                    <div class="card h-100">
                        <div class="card-body">
                            <img class="card-img-top img-fluid img-rounded" id="ChildDiaryCurriculumReport" src="~/images/Curric.png" alt="ChildDiary Curriculum Report">
                            <h2 class="card-title" style="margin-top: 5px;"> </h2>
                            <h2 class="card-title">ChildDiary Web App Curriculum Report August 2017</h2>
                            <p>Languages/Frameworks: HTML5, CSS3, Javascript, Angular JS and JSON</p>
                            <p>Brief: To develop an interactive curriculum report using ChildDiary Server JSON data. 
                                The web report was built using AngularJS framework, HTML5, CSS3 , Bootstrap and JavaScript.
                                An Incremental/Prototyping development model was used for this project. 
                                The report went through 4 iterations of UI and logic changes until a final version was agreed. 
                                The interactive report went live August 2017. </p>
                            <a href="#ChildDiary" title="**This repository is Private**" class="btn btn-link" data-toggle="modal" data-target="#myModal2">Code here</a>
                        </div>
                    </div>
                </div>
                <!--Modal -->
                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Unfortunately this repository is Private… This is a screenshot of the Rev3 prototype version. At this stage of the prototyping SDLC all functions/calculations/CSS formatting were 100% tested and functional, as per the customer requirements. The final CSS, WebApp styling and data sorting had yet to be completed.</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="~/images/rev3_noSort.png" style="height: 258px;" class="rounded">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Card and Modal -->
                <div class="col-sm-6" style="margin-bottom: 40px;">
                    <div class="card h-100">
                        <div class="card-body">
                            <img class="card-img-top img-fluid img-rounded" id="ChildDiary" src="~/images/Tx0hA.png" alt="WebDesign Project">
                            <h2 class="card-title" style="margin-top: 5px;">Child Diary Web App Update 2017</h2>
                            <h2 class="card-title">Reactivate Page Update</h2>
                            <p>Languages/Frameworks: HTML5,CSS3, Angular V1 and Bootstrap</p>
                            <p>Brief: Update Child Diary Web Application “(Re)Activate Account Page". 
                                The original page did not follow the UI theme of the ChildDiary Application and was redesigned to match the WebApp. 
                                New page went live, June 2017.</p>
                            <a href="#ChildDiary" title="**This repository is Private**" class="btn btn-link" data-toggle="modal" data-target="#myModal">Code here</a>

                            <!--Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">
                                            Unfortunately this repository is Private. The image below is what the "(Re)Activate Account Page" used to look like....</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img src="~/images/cdOld.png" style="height: 258px;" class="rounded">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                <!--Card and Modal -->
                <div class="col-sm-6" style="margin-bottom: 40px;">
                    <div class="card h-100">
                        <div class="card-body">
                            <img class="card-img-top img-fluid img-rounded" id="dotNet3Tier" src="~/images/woiub.png" alt=".Net 3 Tier Project">
                            <h2 class="card-title" style="margin-top: 5px;">DBS H.Dip SW Development Course Project 2017 </h2>
                            <h2 class="card-title">B8IT119 Advanced Programming .Net 3 Tier Project</h2>
                            <p>Languages/Frameworks: C#.Net, MicroSoft SQL Server</p>
                            <p>Brief: To develop a C#.Net 3 Tier Program to manage student records for Dublin Business School. 
                                The program had to have the capability to Add a student record to a database, edit a student record, update the database and lastly delete a student record from the database. 
                                The program had to also include a login section and a database history section. </p>
                            <a href="https://github.com/mwalshd7/B8IT119-Advanced-OOP-10353766CA" class="btn btn-link">Code here</a>
                        </div>
                    </div>
                </div>

                <!--Card and Modal -->
                <div class="col-sm-6" style="margin-bottom: 40px;">
                    <div class="card h-100">
                        <div class="card-body">
                            <img class="card-img-top img-fluid img-rounded" id="OceanView" src="~/images/qEQiH.png" alt="WebDesign Project">
                            <h2 class="card-title">DBS H.Dip SW Development Course Project 2016 </h2>
                            <h2 class="card-title">B8IT115 Web Design and Development</h2>
                            <p>Languages/Frameworks: HTML5,CSS3,Javascript and Lightbox </p>
                            <p>Brief: Design and code a brochure type Comercial Website for a mock Bed & Breakfast based in Galway Ireland. 
                                The process started with wireframes, page /content planning through to writing HTML5 and CSS3 code and finishing with testing/deployment. 
                                Bootstrap or other HTML/CSS frameworks were not permitted to be used on the project. </p>
                            <a href="https://github.com/mwalshd7/B8IT115-Web-Design-and-Development" class="btn btn-link">Code here</a>
                        </div>
                    </div>
                </div>
            </div> <!-- Row End -->
       </div>
    </div>

    