@{
    ViewData["Title"] = "Home Page";
}

<!-- Front Page Section Start -->
<section style="min-height: 50%">
    <div style="min-height: 800px" class="container" id="skills">
        <div class="row justify-content-center mt-5">
            <div class="col-12 text-center">
                <span id="17" class="fa fa-spinner fa-spin fa-2x" style="display: none" title="wait...wait..."></span>
            </div>
        </div>
        <div class="row text-center mt-5">
            <div class="col-12 col-sm-4" id="11" style="display: none">
                <i class="fas fa-code fa-3x" title="Getting there.."></i>
                <h3><strong>Software Developer</strong></h3>
                <p> Javascript, C#.Net, AngularJS MVC, Progress 4GL, Microsoft Server SQL, PHP and GitHub.</p>
            </div>
            <div class="col-12 col-sm-4 pt-4 pt-sm-0" id="12" style="display: none">
                <i class="fas fa-wrench fa-3x" title="old hat.."></i>
                <h3><strong>Engineer</strong></h3>
                <p>Project Management, Lean Six Sigma and Problem Solver.</p>
            </div>
            <div class="col-12 col-sm-4 pt-4 pt-sm-0" id="13" style="display: none">
                <i class="fab fa-html5 fa-3x" title="Getting there.."></i>
                <h3><strong>Web Designer</strong></h3>
                <p>HTML, CSS, Javascript, JQuery, Bootstrap and Fontawesome</p>
            </div>
        </div>
        <div class="col-12 mt-5" style="font-family: Yu Gothic UI Light; text-align: center;" id="message"> Michael Walsh - FYI JavaScript has been disabled. This site is best viewed with JavaScript enabled.</div>
        <div class="row" id="16" style="height: 400px; margin-top: 150px; display: none">
            <div class="col-12 mt-5" style="font-family: Yu Gothic UI Light;">
                <div class="container">
                    <h1>
                        <a class="nav-link sliding-links" href="#gotoAbout" title="Click on me to see more.."><blockquote style="text-align: center;">Michael Walsh MSc BSc H.Dip</blockquote></a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Front Page Section Finish -->

<!-- About Me Section Start -->
<section class="sliding-link" data-id="13" id="gotoAbout" style="min-height: 100%">
    <div class="container">
        <div class="row justify-content-center" id="div_fixed">
            <div class="col-12 text-center mt-5">
                <h1>About Me..</h1>
                <img alt="image" title="Yes, this is a blurry picture of me..." class="fdb-icon mt-5" href="#gotoTop" src="~/images/me.jpg" height="100" width="100">
            </div>
        </div>
        <div class="row" id="other_content">
            <div class="col-lg-7">
                <p id="aboutMeText">Hello and welcome to my updated and refreshed portfolio website built on ASP.Net Core 2 MVC. 
                    I am a Software Developer living in Dublin, Ireland and a graduate of Dublin Business School where I received a 1st Class Honours Higher Diploma in Science in Computing (Software Development). 
                    I was a Semiconductor Process Engineer with a large multinational for 14 years and I bring these experiences and skills, to software development. 
                    I have a passion for learning new technologies, finding the hard answers and pushing myself to be a little bit better every day. 
                    My core skills are focused around C#.Net, C#.Net MVC, HTML5, CSS3, JavaScript, Progress 4GL, Microsoft Server SQL, PHP and AngularJS.(I just started learning Anglaur 8!)
                    Outside of work, family life, travelling, golf and discovering new music, keeps me happy......</p>
            </div>
            <div class="col-lg-5 mt-4" style="display:table-cell; vertical-align:middle; text-align:center">
                <img alt="image" id="imgSunset" title="Ólafur Arnalds - NCH Dublin Ireland, October 2018" src="~/images/mw.png" height="400" width="400">
            </div>
        </div>
    </div>
</section>
<!-- About Me Section Finish -->
