@{
    ViewData["Title"] = "Site Information";
}
<div class="container">
    <h3>@ViewData["Title"]</h3>
    <div class="jumbotron" id="about_Jumbotron">
        <article>
            Thank you for taking the time to look around this site. Late 2018 , I decided that it was time for a complete redesign.
            This was progressing nicely (if a little slowly, as family and work tend to get in the way of these things).
            I was getting ready to tear down the old and deploy the new, when I got an idea to port this entire site to ASP.Net Core2.2 MVC WebApp.
            This added more complexity and an even bigger learning curve, which is why this has taken way longer than I expected.
            Some things had to be dropped (bye PHP contact form) and replacements found (hello MailKit).
            Bits and Pieces of the following have been used…
        </article>

        <div style="padding-top: 40px;">
            <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.2"><p>ASP.NET Core 2.2 MVC</p></a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide"><p>JavaScript ES5/ES6</p></a>
            <a href="https://jquery.com/"><p>JQuery</p></a>
            <a href="https://getbootstrap.com/"><p>Bootstrap 4</p></a>
            <a href="https://www.nuget.org/packages/MailKit/"><p>MailKit</p></a>
            <a href="https://fluentvalidation.net/"><p>FluentValidation</p></a>
            <a href="https://fontawesome.com"><p>FontAwesome 5</p></a>
            <a href="https://fonts.google.com/"><p>Google Fonts</p></a>
            <a href="https://www.microsoft.com/azure"><p>Azure Hosting</p></a>

            

        </div>

    </div>
</div>

