
@{
    ViewData["Title"] = "Email Success";
}

<div class="container">
    
    <div class="jumbotron" id="about_Jumbotron" style="padding:200px 100px 200px 100px;">
        <h5>Success! Your mail has been sent. Thank you.</h5>
        <p>Please use the NavBar Links to continue.</p>
    </div>
</div>
